
/* .source_list {
  list-style-type: square;
  background: #3399ff;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  border: black 1px solid;
  justify-content: space-around;
  margin: 2rem 0;
  width: 10%;
} */

.source_list{
  display: flex;
  flex-wrap: wrap;

 
}
#Indexx{
  background-color: bisque;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#navvb {
  background-color:gray;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: brown;
}
#heading{
  background-color: lightgrey;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  flex-wrap: wrap;
  display: flex;
  border: bisque 1px solid;
  justify-content: space-around;

}
html {
    scroll-behavior: smooth;
}

#footer{
  background-color: bisque;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#abt{
  display: flex;
  border: bisque 1px solid;
  justify-content: space-around;
}
#abts{
  display: flex;
  border: bisque 1px solid;
  justify-content: space-around;
}

/* #sources{
  border: solid black 2px;
  display: flex;
  flex-wrap: wrap;
/* } */


