
{% block footer %}
<hr>
<section class="footer" id="footer">
    <div id="footer" class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="foot-head">
                    <h5 id="abt">About Us</h5>
                </div>
                <div class="foot-body">
                    <p id="abts">
                        Get the latest news from all over the world. Made possible by News Api.
                    </p>
                    <p><i id="home" class="fas fa-home"></i> Nairobi, Kenya</p>
                    <p><i id="phone" class="fas fa-phone-volume"></i> 070000000</p>
                    <p><i class="far fa-envelope" id="mail"></i> jpaulopiyo@gmail.com</p>
                </div>
            </div>
            <div class="col-md-5" id="next">
                <div class="row">
                    <div class="col-md-6">
                        <div class="socials">
                            <i id="in" class="fab fa-facebook-messenger" style="font-size:25px;color:#00B2FF"></i>
                            <div class="inner">
                                <p>1000 Followers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="socials">
                            <i id="in" class="fab fa-facebook" style="font-size:25px;color:#4267B2"></i>
                            <div class="inner">
                                <p>1034 Followers</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="socials">
                            <i id="in" class="fab fa-twitter" style="font-size:25px;color:#1DA1F2"></i>
                            <div class="inner">
                                <p>10780 Followers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="socials">
                            <i id="in" class="fab fa-instagram" style="font-size:25px;color:#C13584"></i>
                            <div class="inner">
                                <p>1000 Followers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3" id="next">
                <div class="fb-page" data-href="link"
                    data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
                    data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="link"
                        class="fb-xfbml-parse-ignore"><a
                            href="link"> The NEWS website</a>
                    </blockquote>
                </div>
                <div class="foot-head">
                    <h5>Powered By News API</h5>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}